<div class="user-details">
  <h1> Mobile Development Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/wellnetpro/screens.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> WellnetPro </h3>
    <ul>
      <li> Android & iOS native app</li>
    </ul>
    <p>Goal of this app is to bring together a network of healthcare professionals, health coaches and fitness trainers to provide the most convenient way to have a face to face visit just about wherever you are.</p>
    <p>This On-Demand App not only brings care to its users but counselingand coaching on fitness and better health choices to prevent illness.The goal is for its members to stay healthy and fit. Make a choice thenget what you need when you want it.</p>
    <p>Mission is to provide our users with health care choices.</p>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.wellnetpro.wellnetpro">
        <img alt="mountains" src="{{ "/assets/img/androidapp.png" | prepend: site.baseurl }}" />
    </a>
    <a class="project-link" href="https://itunes.apple.com/us/app/wellnetpro/id1091282388?mt=8">
      <img alt="mountains" src="{{ "/assets/img/appleapp.png" | prepend: site.baseurl }}" />
    </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/topcourier/screens.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Top Couriers </h3>
    <ul>
      <li> Android & iOS App </li>
    </ul>
    <p>This is an Android and iPhone based mobile app that is used by a
        logistics company to deliver letters and packages. The app is capable toobtaining signatures from clients. And it also captures coordinateswhere the delivery/pickup was done. It can also scan barcodes, makingdelivery/pickups efficient. In case there is no network, it also stores thedata offline and provides an option to upload offline data once you areonline. At the time of pickup, it also allows you to click a photo and upload the same alongwith other pickup related details.</p>
    <p>A great app to streamline the entire logistics process.</p>

    <a class="project-link" href="https://www.youtube.com/watch?v=ajLUqqbUoF4&list=PLOhE64o8ya6Yiw53Q1Uy‐O‐qmYfoQGyJ8&index=1
    MobileAppPortfolio_MobileAppPortfolio 24-09-2018 15:11 Page 2">
        <img alt="mountains" src="{{ "/assets/img/youtube.png" | prepend: site.baseurl }}" />
    </a>
  </div>
</div>

<div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/novum/screens.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Novum Forum </h3>
      <ul>
        <li> Android & iOS native app</li>
      </ul>
      <p>Insurance quotes compare app.</p>
      <p>User downloads the app and enters the Home/Vehicle details into it.Once that is done, it is super easy to get quotes from a list of Insuranceproviders. You also get most competetive quotes for the details entered. It become very easy for the customer to choose what is best forhis/her vehicle/home insurance needs.</p>
      <a class="project-link" href="https://www.youtube.com/watch?v=vJb1BMRLt84&list=PLOhE64o8ya6ZyTBSGeIOHZyGiDbvyMPka
      MobileAppPortfolio_MobileAppPortfolio 24-09-2018 15:11 Page 5">
          <img alt="mountains" src="{{ "/assets/img/youtube.png" | prepend: site.baseurl }}" />
      </a>
    </div>
  </div>

  <div class="user-projects">
  <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/robertsons/screen1.png" | prepend: site.baseurl }}" />
	  <img alt="mountains" src="{{ "/assets/img/robertsons/screen2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MDT App </h3>
    <ul>
      <li> Android App </li>
    </ul>
    <p>The client wanted a dashboard app for Mobile Data Terminals, providedby CalAmp, installed in their trucks. It should behave as default launcheron the tablet. On home screen, there should be an option to go to routing screen, where drivers will have the option to either enter an addressor select from a list of locations. The backend server can dispatch messages to the trucks and in case a location is received, the route to thatlocation should be displayed.
	<p>The MDTs were also required to communicate with the LMU installed inthe trucks. The accumulator params were to be read from LMU and displayed on a screen in tablet. The dashboard app was required to implement CalAmp Fleet management protocol for routing, messaging andjob dispatch. These MDTs did not have the standard google play services running for any Maps/Routing. For this,the dashboard app was required to use Sygic Navigation.</p>
    <p>A great app to streamline the entire logistics process.</p>
	<p>It was a challenging project as I did nothave access to the MDT or the LMU andhad to implement purely on the basis ofavailable documentation. The app waslater tested in a real truck which hadMDT and LMU installation in place.
The app was successfully delivered tothe client. Although it is not availableon the Google Play Store as the app isavailable on client’s private networkand they themselves push the app tothe MDTs.</p>
	<p>Map button on home screen takes theuser to the Map page. Here the Mapshave been integrated using the SygicEmbedded library. The map page initially loads with current location. Thereis a list of Plant locations in a dropdownon the left side of the Map screen.When a user selects one of these locations. He can click on Route button toload a route from current location tothe selected plant location. The route isalso loaded using the Sygic library and isdisplayed on screen, hiding the Plant locations dropdown. User can also go back to the Home scren from here.</p>
	
    </div>
</div>